<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Create user</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

     <!-- Popper JS -->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
     <div class="container">


          <form action="/post-crud" method="post">
               <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                         placeholder="Enter email" name="email">

               </div>
               <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                         placeholder="Password">
               </div>
               <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input t class="form-control" id="exampleInputEmail1" name="firstName" placeholder="Enter email">

               </div>
               <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input class="form-control" id="exampleInputEmail1" name="lastName" placeholder="Enter email">

               </div>
               <div class="form-group">
                    <select name="gender" class="form-select" aria-label="Default select example">
                         <option value="1">Male</option>
                         <option value="0">Female</option>
                    </select>
               </div>
               <div class="form-group">
                    <select name="roleId" class="form-select" aria-label="Default select example">
                         <option value="1">Doctor</option>
                         <option value="2">Admin</option>
                         <option value="3">Patient</option>

                    </select>
               </div>
               <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input class="form-control" id="exampleInputEmail1" name="phoneNumber" aria-describedby="emailHelp"
                         placeholder="Enter email">

               </div>

               <button type="submit" class="btn btn-primary">Submit</button>
          </form>
     </div>

</body>

</html>